<div class="col-md-2" style="width: 250px;display: inline-block">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header"><%= "#{t('Listing codes')} (#{@codes.count})" %></li>
      <% is_root = true %>
      <% @codes.each do |code| %>
        <% next if code.show_from.present? and !can_edit?(code, true) and !visible?(code) %>
        <% #url = code.code_url.empty? ? code.id : code.code_url;
           title = code.title.empty? ? "#{t 'Code'} ##{code.id}" : code.title
           title.sub! /unnamed(?=\s*?#\d+)/i, "#{t 'Code'}"
        %>
          <% is_root &&= request.fullpath == '/' %>
        <li<%= ' class=current' if current_code?(url) or is_root %>>
          <%= link_to truncate(sanitize(title), length:21), create_url('codes', code.id) %>
        </li>
          <% is_root &&= false %>
      <% end %>
    </ul>
    <div class="apple_pagination">
      <%= will_paginate @codes, container: false, inner_window: 1, outer_window: 0 %>
    </div>
  </div>
</div>